<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue 3 Basics</title>
    <style>
      .box {
        background-color: purple;
        height: 200px;
        width: 200px;
      }
      [v-cloak] {
        display: none;
      }
      input {
        margin: 10px;
        display: block;
      }
    </style>
  </head>
  <body>
    <div id="app" v-cloak>
      <!-- FORM ELEMENTS -->
      <login-form />

      <!-- CALL VARIABLE WITH {{}} WHICH MEANS WILL PASSED AS JS BY VUE -->
      {{greeting}}
      <input @keyup.enter="greet(greeting + '!!!!!')" v-model="greeting" />
      <!-- listen to the keyup event  -->

      <hr />
      <button @click.="toggleBox">Toggle Box</button>
      <div v-if="isVisible" class="box"></div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      let app = Vue.createApp({
        data: function () {
          return {
            //in data, there's return obj, that can put varible in.
            greeting: "Hello Vue 3!",
            isVisible: false, //if var is ture, will display
          };
        },
        methods: {
          toggleBox() {
            this.isVisible = !this.isVisible;
          },
          greet(greeting) {
            console.log(greeting);
          },
        },
      });

      // FOR THE FORM - do all in 1 html file

      app.component("login-form", {
        template: `
        <form @submit.prevent="handleSubmit">
          <h1>{{title}} </h1>
           <custom-input type = "email" :label="emailLabel"dd /> //instead of using v-bind: , we can just use : instead. 
      <!--  -->

           <custom-input type= "password" :label="passwordLabel"/>
           <button> Log in</button>
        </form>
        `,
        component: ["custom-input"],
        data() {
          return {
            title: "Login Form",
            email: "",
            password: "",
            emailLabel: "Email",
            passwordLabel: "Password",
          };
        },
        methods: {
          handleSubmit() {
            console.log(this.email, this.password);
          },
        },
      });
      app.component("custom-input", {
        template: `
          <label>
            {{label}} //will define it on the parent component, and pass it to the custom input component.
            <input type= "text">
            </label>
        `,
        props: ["label"],
      });
      app.mount("#app"); //connect vue app to html
    </script>
  </body>
</html>
